[submodule "hickory-dns"]
	path = hickory-dns
	url = https://github.com/EchoStone1101/hickory-dns.git
	branch = dev-dump
[submodule "coredns"]
	path = coredns
	url = https://github.com/PRRIN/coredns.git
[submodule "bind9"]
	path = bind9
	url = https://github.com/EchoStone1101/bind9.git
[submodule "pdns"]
	path = pdns
	url = https://github.com/PRRIN/pdns.git
[submodule "Ferret"]
	path = Ferret
	url = https://github.com/PRRIN/Ferret.git
